#header-image {
	height: 100%;
	background-image: url("../images/nature-header.jpeg");	
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;		
}

#header {	
	max-width: 900px;
	margin: 0 auto;    
	padding: 200px;	
}

h1 {
	font-size: 500%;
	color: white;
}

#intro {
	font-weight: bold;	
	font-size: 150%;
	color: white;
}

.center {
	text-align: center;
}

#content {
	max-width: 900px;
	margin: 0 auto;
}	



.wrapper {
	width: 940px;
	margin: 20px auto 20px auto;
	border: 2px solid #000000;
	background-color: #ffffff;}



img {
	display: block;
	margin: 0px auto;

	width: 300px;
	height: 200px;
}

#main-image {

	height: 100%;
	position: right;
}


section.programs {
	float: left;
	width: 925px;
	border-right: 1px solid #eeeeee;}
	
section.search {
	float: left;
	width: 925px;
	border-right: 1px solid #eeeeee;}	
section.search p {
	margin: 20px 10px 0 10px;
	text-align: right; }	
section.search input {
	width: 20em;  }
article {
	clear: both;
	overflow: auto;
	width: 100%;}
section.programs h2 {
	margin-top: 40px;}


	
figure {
	float: right;
	width: 290px;
	height: 220px;
	padding: 5px;
	margin: 20px;
	border: 1px solid #eeeeee;}
figcaption {
	font-size: 90%;
	text-align: left;}


a {
	color: #de6581;
	text-decoration: none;}
h1, h2, h3 {
	font-weight: normal;}
h2 {
	margin: 10px 0px 5px 0px;
	padding: 0px;}
h3 {
	margin: 0px 0px 10px 0px;
	color: blue;}

	
	
section.programs p.hidden {
	display: none; }
section.programs	p span{
	cursor: pointer;
	font-weight: bold;}
	
	
#more1 {display: none;}
#more2 {display: none;}	
#more3 {display: none;}	
#more4 {display: none;}	
#more5 {display: none;}	
#more6 {display: none;}	
#more7 {display: none;}		
