header, section, footer, aside, nav, article, figure, figcaption {
	display: block;}
	
body {
	color: #666666;
	background-color: #f9f8f6;
	background-image: url("../images/dark-wood.jpg");
	background-position: center;
	font-family: Georgia, Times, serif;
	line-height: 1.4em;
	margin: 0px;}
.wrapper {
	width: 940px;
	margin: 20px auto 20px auto;
	border: 2px solid #000000;
	background-color: #ffffff;}
header {
	height: 160px;
	background-image: url("../images/header.jpg");}
h1 {
	text-indent: -9999px;
	width: 940px;
	height: 130px;
	margin: 0px;}


img {
	display: block;
	margin: 0px auto;

	width: 300px;
	height: 200px;
}


section.programs {
	float: left;
	width: 659px;
	border-right: 1px solid #eeeeee;}
	
section.search {
	float: left;
	width: 659px;
	border-right: 1px solid #eeeeee;}	
section.search p {
	margin: 20px 10px 0 10px;
	text-align: right; }	
section.search input {
	width: 20em;  }
article {
	clear: both;
	overflow: auto;
	width: 100%;}
section.programs h2 {
	margin-top: 40px;}


	
figure {
	float: left;
	width: 290px;
	height: 220px;
	padding: 5px;
	margin: 20px;
	border: 1px solid #eeeeee;}
figcaption {
	font-size: 90%;
	text-align: left;}


a {
	color: #de6581;
	text-decoration: none;}
h1, h2, h3 {
	font-weight: normal;}
h2 {
	margin: 10px 0px 5px 0px;
	padding: 0px;}
h3 {
	margin: 0px 0px 10px 0px;
	color: #de6581;}

footer {
	font-size: 80%;
	padding: 7px 0px 0px 20px;}
	
	
section.programs p.hidden {
	display: none; }
section.programs	p span{
	cursor: pointer;
	font-weight: bold;}
	
	
